<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sie.full.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.sie.full.model.Menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_image" property="menuImage" jdbcType="VARCHAR" />
    <result column="menu_price" property="menuPrice" jdbcType="DOUBLE" />
    <result column="kind_id" property="kindId" jdbcType="INTEGER" />
    <result column="menu_createtime" property="menuCreatetime" jdbcType="TIMESTAMP" />
    <result column="menu_updatetime" property="menuUpdatetime" jdbcType="TIMESTAMP" />
    <result column="menu_xxx" property="menuXxx" jdbcType="VARCHAR" />
    <result column="menu_xxxx" property="menuXxxx" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_name, menu_image, menu_price, kind_id, menu_createtime, menu_updatetime, 
    menu_xxx, menu_xxxx
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sie.full.model.Menu" >
    insert into t_menu (menu_id, menu_name, menu_image, 
      menu_price, kind_id, menu_createtime, 
      menu_updatetime, menu_xxx, menu_xxxx
      )
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuImage,jdbcType=VARCHAR}, 
      #{menuPrice,jdbcType=DOUBLE}, #{kindId,jdbcType=INTEGER}, #{menuCreatetime,jdbcType=TIMESTAMP}, 
      #{menuUpdatetime,jdbcType=TIMESTAMP}, #{menuXxx,jdbcType=VARCHAR}, #{menuXxxx,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sie.full.model.Menu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuImage != null" >
        menu_image,
      </if>
      <if test="menuPrice != null" >
        menu_price,
      </if>
      <if test="kindId != null" >
        kind_id,
      </if>
      <if test="menuCreatetime != null" >
        menu_createtime,
      </if>
      <if test="menuUpdatetime != null" >
        menu_updatetime,
      </if>
      <if test="menuXxx != null" >
        menu_xxx,
      </if>
      <if test="menuXxxx != null" >
        menu_xxxx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuImage != null" >
        #{menuImage,jdbcType=VARCHAR},
      </if>
      <if test="menuPrice != null" >
        #{menuPrice,jdbcType=DOUBLE},
      </if>
      <if test="kindId != null" >
        #{kindId,jdbcType=INTEGER},
      </if>
      <if test="menuCreatetime != null" >
        #{menuCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuUpdatetime != null" >
        #{menuUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuXxx != null" >
        #{menuXxx,jdbcType=VARCHAR},
      </if>
      <if test="menuXxxx != null" >
        #{menuXxxx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sie.full.model.Menu" >
    update t_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuImage != null" >
        menu_image = #{menuImage,jdbcType=VARCHAR},
      </if>
      <if test="menuPrice != null" >
        menu_price = #{menuPrice,jdbcType=DOUBLE},
      </if>
      <if test="kindId != null" >
        kind_id = #{kindId,jdbcType=INTEGER},
      </if>
      <if test="menuCreatetime != null" >
        menu_createtime = #{menuCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuUpdatetime != null" >
        menu_updatetime = #{menuUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuXxx != null" >
        menu_xxx = #{menuXxx,jdbcType=VARCHAR},
      </if>
      <if test="menuXxxx != null" >
        menu_xxxx = #{menuXxxx,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sie.full.model.Menu" >
    update t_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_image = #{menuImage,jdbcType=VARCHAR},
      menu_price = #{menuPrice,jdbcType=DOUBLE},
      kind_id = #{kindId,jdbcType=INTEGER},
      menu_createtime = #{menuCreatetime,jdbcType=TIMESTAMP},
      menu_updatetime = #{menuUpdatetime,jdbcType=TIMESTAMP},
      menu_xxx = #{menuXxx,jdbcType=VARCHAR},
      menu_xxxx = #{menuXxxx,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>